:root {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --background-color: #b7d9fd;
  --light-blue: #cce5ff;
  --blue: #007bff;
  --dark-blue: #002752;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
}

button {
  background-color: var(--blue);
  color: white;
  border: none;
}

button:hover {
  background-color: var(--dark-blue);
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: var(--secondary-color);
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-align: left;
  padding: 0;
}

.App {
 padding: 3rem;
 background-color: var(--background-color);
}

.row {
  padding-block: 4px;
}

.modal-backdrop {
  opacity: 0.3 !important;
}

.onTop {
  z-index: 1051 !important;
}
